# Node dependencies
node_modules/

# Local profile data stored by your server
profile.json

# SQLite database file
database.db

# Environment variables and secret keys
.env

# OS/editor files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*