body {
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* HEADER */
header {
    display: block;
    background-color: #ffffff;
    background-size: 25%;
    color: black;
    text-align: center;
    padding: 15px;
    width: 50%;
    margin: 250px auto;
}

.welcome-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    color: #ff4d6d;
    font-weight: bold;
    font-size: 32px;
    flex-direction: row;
    justify-content: space-between;
}

.hobbyreise-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgb(232, 232, 232);
    font-weight: bold;
    font-size: 32px;
    flex-direction: row;
    justify-content: space-between;
}


.start-btn {
    display: block;
    margin: 20px auto 0;
    width: 10%;
    padding: 12px;
    background-color: white;
    color: #ff4d6d;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
}

/* BUTTON */
.create-btn {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background-color: #ff4d6d;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

/* BUNN NAV */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.nav-item {
    text-align: center;
    font-size: 14px;
}